.ccm-messenger > .main {
    width: 980px;
    height: 500px;
    background-color: grey;
}

.ccm-messenger > .main > .header {
    width: 100%;
    height: 50px;
    background-color: lightyellow;
}

.ccm-messenger > .main > .bottom {
    clear: both;
}

.ccm-messenger > .main > .chat-overview {
    width: 200px;
    height: 450px;
    background-color: white;
    float: left;
    overflow:scroll;
}

.ccm-messenger > .main > .chat-overview > .chat-header-user-info {
    border-bottom: 1px solid black;
    background-color: lightyellow;
    padding: 5px;
}

.ccm-messenger > .main > .chat-overview > .chat-selection > .chat {
    height: 25px;
    width: 180px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.ccm-messenger > .main > .chat-overview > .chat-selection > .chat:hover {
    background-color: lightgray;
}

.ccm-messenger > .main > .messages {
    width: 780px;
    height: 450px;
    background-color: lightgray;
    float: left;
    position: relative;
}


.ccm-messenger > .main > .messages > .message-container {
    height: 90%;
    overflow:scroll;
}

.ccm-messenger > .main > .messages > .message-container > .message {
    position: relative;
    max-width: 740px;
    height: auto;
    padding: 5px;
    margin: 15px 0 25px 0;
    background: #fefefe;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;
}

.ccm-messenger > .main > .messages > .message-container > .message:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #fefefe transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 43px;
}

.ccm-messenger > .main > .messages > .message-container > .message:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -18px;
    left: 42px;
}

.ccm-messenger > .main > .messages > .message-container > .message > .name {
    color: grey;
}

.ccm-messenger > .main > .messages > .message-container > .message-me > .name {
    color: grey;
}

.ccm-messenger > .main > .messages > .message-container > .message-me {
    position: relative;
    max-width: 740px;
    height: auto;
    padding: 5px;
    margin: 15px 0 25px 0;
    background: #90FF90;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;
}

.ccm-messenger > .main > .messages > .message-container > .message-me:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #90FF90 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 700px;
}

.ccm-messenger > .main > .messages > .message-container > .message-me:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -18px;
    left: 699px;
}

.ccm-messenger > .main > .messages > .message-input-container {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.new-message {
    height: 100%;
}

.new-message .message-input {
    height: 100%;
}

.message-input-container .message-input {
    height: 100%;
    width: 90%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.message-input-container .button {
    height: 100%;
    width: 9%;
}
